img {
  float: left;
}
.sidebar {
  width: auto;
  float: inherit;
  background-color: #E5890A;
  text-decoration-color: #141E61 :
}
.column {
    width: 350px;
    float: right;

  }
body {
  background-color:#black ;

}
p {
  font-style: italic;
  font-weight: bolder;
  font-family: sans-serif;
  color: ;#222831 ;
}
.test-box {
  text-align: right;
    border: 2px solid yellowgreen;
  }
